In [3]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
year = [2015,2016,2017,2018,2019,2020,2021]
R = [0.81,0.83,0.91,0.82,0.84,0.88,0.82]
MD = [0,-0.15,-0.04,-0.11,-0.14,0.05,0.03]
RMSE = [0.07,0.25,0.32,0.22,0.27,0.13,0.13]

comparison_df = pd.DataFrame(index=year)
comparison_df['R'] = R
comparison_df['MD'] = MD
comparison_df['RMSE'] = RMSE

In [13]:
comparison_df

         R    MD  RMSE
2015  0.81  0.00  0.07
2016  0.83 -0.15  0.25
2017  0.91 -0.04  0.32
2018  0.82 -0.11  0.22
2019  0.84 -0.14  0.27
2020  0.88  0.05  0.13
2021  0.82  0.03  0.13

In [18]:
MD_IS = [-0.20, -0.13, -0.15, 0.30, 0.04, -0.21, -0.17, 0.08]
RMSE_IS = [1.45, 0.84, 1.34, 1.12, 1.32, 1.07, 1.30, 0.52]
year_IS = [2019, 2019, 2019, 2020, 2020, 2021, 2022, 2022]

is2_metrics = pd.DataFrame(columns={'MD':MD_IS, 'RMSE':RMSE_IS, 'year':year_IS})

In [31]:
is2_metrics

     MD  RMSE  year  MD_swe  RMSE_swe
0 -0.20  1.45  2019  -0.060     0.435
1 -0.13  0.84  2019  -0.039     0.252
2 -0.15  1.34  2019  -0.045     0.402
3  0.30  1.12  2020   0.090     0.336
4  0.04  1.32  2020   0.012     0.396
5 -0.21  1.07  2021  -0.063     0.321
6 -0.17  1.30  2022  -0.051     0.390
7  0.08  0.52  2022   0.024     0.156

In [30]:
is2_metrics['MD_swe'] = is2_metrics['MD'] * 0.3
is2_metrics['RMSE_swe'] = is2_metrics['RMSE'] * 0.3

In [20]:
is2_metrics['MD'] = MD_IS
is2_metrics['RMSE'] = RMSE_IS
is2_metrics['year'] = year_IS

In [33]:
is2_metrics[is2_metrics['year']==2019]['RMSE_swe'].mean()

np.float64(0.363)

In [34]:
is2_metrics[is2_metrics['year']==2020]['RMSE_swe'].mean()

np.float64(0.366)

In [35]:
is2_metrics[is2_metrics['year']==2021]['RMSE_swe'].mean()

np.float64(0.321)

In [37]:
is2_metrics[is2_metrics['year']==2019]['MD_swe'].mean()

np.float64(-0.04800000000000001)

In [36]:
is2_metrics[is2_metrics['year']==2020]['MD_swe'].mean()

np.float64(0.051)

In [38]:
is2_metrics[is2_metrics['year']==2021]['MD_swe'].mean()

np.float64(-0.063)